:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(144, 175, 130, 0.808);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.workout-card {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.workout-card:hover {
  transform: translateY(-5px);
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;

  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGQGoMNN6EfpyaBUjlcO4o2xBhZkPQo4xnkg&shttps://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5j5UVcFXEn8e3Z-kNIMm1D0d76zJkOA_ZAw&s");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



.workout-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #6a0dad; 
  margin-bottom: 0.5rem;
}

.workout-focus {
  font-size: 0.95rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #775959;
  color: #555;
  margin-bottom: 0.5rem;
}

.workout-description {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 1rem;
}

.select-button {
  background-color: #948639;
  color: rgb(64, 122, 177);
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button:hover {
  border-color: #17a30b;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

